<!DOCTYPE html>
<html lang="en" ng-app="fkgame">
<head>
	<meta charset="UTF-8">
	<title>角色选择</title>
	<link rel="stylesheet" href="style/lib/normalize.css">
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/selectRole.css">
	<script src="js/lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
</head>
<body ng-controller="SelectRoleCtrl">
	<div class="header">
		<ul class="box clearfix">
			<li class="logo-l">角色选择</li>
			<li class="logo"><img src="images/logo.png"></li>
			<li class="logo-r"><span>返回首页</span> <img class="arrow" src="images/icon-r.png"></li>
		</ul>
	</div>

	<div class="banner">
		<div class="box">
			<div class="pull-left content-l">
				<div class="mask">
					<div class="title">角色选择</div>
					<ul class="list-chairman">
						<li>
							<span class="name">角色 :</span>
							<select ng-model="role.type">
								<option value="1">投资人</option>
								<option value="2">董事长</option>
							</select>
						</li>
						<li>
							<span class="name">昵称 :</span>
							<input type="text">
						</li>
						<li ng-if="role.type == 2">
							<span class="name">公司名称 :</span>
							<input type="text">
						</li>
						<li ng-if="role.type == 2">
							<span class="name">注册资金（万元） :</span>
							<input type="text">
						</li>
						<li>
							<button class="btn-create">确认创建</button>
						</li>
					</ul>




					<ul class="list-staff hide">
						<li>
							<span class="name">角色 :</span>
							<input type="text">
						</li>
						<li>
							<span class="name">昵称 :</span>
							<input type="text">
						</li>
						<li>
							<button class="btn-create">确认创建</button>
						</li>
					</ul>
				</div>

				<div class="sewing-valign"></div>
			</div>

			<div class="pull-right content-r">
				<div class="announcement">
					<h3 class="title">公告</h3>
					<div class="announcement-list"></div>
					<div class="icons clearfix">
						<i class="pull-left icon-l"></i>
						<i class="pull-right icon-r"></i>
					</div>
				</div>

				<div class="system-news">
					<div class="title"><img src="images/icon-trumpet.png"> 系统消息</div>
					<ul class="news-list">
						<li class="news-item">
							<i class="icon-news"></i>
							<span>~~~~hello</span>
						</li>
						<li class="news-item">
							<i class="icon-news"></i>
							<span>~~~~hello</span>
						</li>
						<li class="news-item">
							<i class="icon-news"></i>
							<span>~~~~hello</span>
						</li>
						<li class="news-item">
							<i class="icon-news"></i>
							<span>~~~~hello</span>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="sewing-down-l"></div>
			<div class="sewing-down-r"></div>

			<button class="next-step"><a href="selectInvest.html">下一步</a></button>
		</div>
	</div>

	<div class="footer-bg"></div>
</body>
</html>