ul,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,table,th,tr,td{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
button{
	border:none;
	outline: none;
	cursor: pointer;
}

.box{
	width: 1000px;
	margin: 0 auto;
}
*{
	box-sizing: border-box;
}
.margin-r0{
	margin-right: 0 !important;
}
.color-main{
	color:#E7402E;
}
.color-939393{
	color: #939393;
}
.bgcolor-main{
	background-color: #E7402E;
}
.inline-block{
	display: inline-block;
}
.border-none{
	border: none !important;
}

/*============
	工具样式
============*/

.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}
.text-right{
	text-align: right !important;
}

.text-left{
	text-align: left !important;
}

.text-center{
	text-align: center !important;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.invisible{
	visibility: hidden;
}

.text-hide{
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}


#back-top{
	position: fixed;
	right: 36px;
	bottom:35px;
	height:64px;
	width:28px;
	line-height:36px;
	background-image:url(../images/backtop.png);
	background-position: 0 0;
	cursor:pointer;
	display:none;
}
#back-top:hover{
	background-position: 28px 0;
}