.header{
	position: relative;
	width: 100%;
	height: 70px;
	color:#fff;
	background-image: url(../images/topnav.png);
	background-size: 100% 100%;
	font-size: 18px;
}
.header .box{
	position: relative;
}
.header .logo{
	width: 160px;
	height: 70px;
	margin: 0 auto;
}
.header .logo-l{
	position: absolute;
	top: 20px;
	left: 0;
	height: 30px;
	padding: 0 16px;
	line-height: 30px;
	text-align: center;
	background-color: #3f4143;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.2),
				inset 0 -1px 0 rgba(255,255,255,.2);
}
.header .logo-r{
	position: absolute;
	top: 0;
	right: 0;
	line-height: 70px;
}
.header .arrow{
	vertical-align: -20px;
}

.content{
	padding: 46px 0 50px 0;
	background: url(../images/login-bg.jpg) no-repeat;
	background-size: cover;
}
.content .mask{
	width: 800px;
	height: 650px;
	margin: 0 auto;
	padding: 20px 40px 48px 40px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.4);
}
.content .mask .title{
	width: 140px;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	text-align: center;
	background-color: #404445;
	color: #fff;
	border-radius: 5px;
}
.content .mask .swiper-container{
	width: 720px;
	height: 520px;
	margin-top: 20px;
	padding: 10px;
	border:1px solid #a3ce65;
	font-size: 14px;
}
.content .mask .swiper-container .swiper-wrapper{
	width: 700px;
	/* height: 500px; */
	height: 498px;
}
.content .mask .swiper-container .swiper-wrapper .swiper-slide{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.content .mask .swiper-container .swiper-wrapper .swiper-slide .list-t .item-t{
	width: 140px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	border-right: 1px solid #e5e5e5;
	background-color: #a4cd65;
}
.content .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .item-c .multiline-wrapper{
	width: 140px;
	height: 64px;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
/* 多行文本垂直居中 */
.content .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .item-c .multiline-wrapper .multiline{
	display: table-cell;
	width: 140px;
	height: 64px;
	vertical-align: middle;
	text-align: center;
}
.content .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .item-c .multiline-wrapper .multiline .company-name{
	display: inline-block;
	margin-bottom: 8px;
	font-size: 12px;
	color: #000;
	vertical-align: middle;
}
.content .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .item-c .multiline-wrapper .multiline .btn-view-detail{
	display: inline-block;
	width: 82px;
	height: 24px;
	line-height: 24px;
	border-radius: 5px;
	color: #fff;
	background-color: #9bc766;
	vertical-align: middle;
}

body{
	position: relative;
}
.footer-bg{
	position: absolute;
	bottom: -38px;
	width: 100%;
	height: 92px;
	background: url(../images/black-bg.png) no-repeat;
	background-size: 100% 100%;
}
.footer-bg .box{
	position: relative;
	height: 100%;
}
.footer-bg .box .sewing-up-l{
	position: absolute;
	top: -26px;
	left: -120px;
	width: 120px;
	height: 52px;
	background-image: url(../images/sewing.png);
}
.footer-bg .box .sewing-up-r{
	position: absolute;
	top: -26px;
	right: -120px;
	width: 120px;
	height: 52px;
	background-image: url(../images/sewing.png);
}