.header{
	position: relative;
	width: 100%;
	height: 70px;
	color:#fff;
	background-image: url(../images/topnav.png);
	background-size: 100% 100%;
	font-size: 18px;
}
.header .box{
	position: relative;
}
.header .logo{
	width: 160px;
	height: 70px;
	margin: 0 auto;
}
.header .logo-l{
	position: absolute;
	top: 20px;
	left: 0;
	height: 30px;
	padding: 0 16px;
	line-height: 30px;
	text-align: center;
	background-color: #3f4143;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.2),
				inset 0 -1px 0 rgba(255,255,255,.2);
}
.header .logo-r{
	position: absolute;
	top: 0;
	right: 0;
	line-height: 70px;
}
.header .arrow{
	vertical-align: -20px;
}

.content{
	width: 100%;
	height: 750px;
	padding-top: 88px;
	background: url(../images/login-bg.jpg) no-repeat;
	background-size: cover;
}
.content .mask{
	width: 920px;
	height: 600px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 80px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.4);
}
.content .mask .nav-title{
	position: relative;
	width: 100%;
}
.content .mask .nav-title .nav-title-l{
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	border-radius: 0 3px 3px 0;
	border-bottom: 1px solid #d2d7d2;
	background-color: #d9721f;
}
.content .mask .nav-title .nav-title-m{
	width: 270px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	font-size: 18px;
	text-indent: 90px;
	background: url(../images/title-bg2.png) no-repeat;
}
.content .mask .nav-title .nav-title-r{
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	border-radius: 3px 0 0 3px;
	border-bottom: 1px solid #d2d7d2;
	background-color: #d9721f;
}
.content .mask .contract-number{
	width: 100%;
	margin-top: 16px;
	margin-bottom: 20px;
	text-align: center;
	color: #fff;
}
.content .mask .swiper-container{
	width: 800px;
	height: 390px;
	background-color: #464849;
}

.content .mask .swiper-container .swiper-wrapper .swiper-slide{
	/* padding: 38px; */
	font-size: 12px;
	color: #fff;
}


/*自定义分页器*/
.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -18px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border-radius: 50%;
  opacity: 0.8;
  border-top-color: 1px solid #ccc;
  border-bottom: 1px solid #898b8b;
  box-shadow: 0 1px 1px #fff;
  cursor: pointer;
}
.swiper-active-switch{
	position: relative;
}
.swiper-active-switch:after{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	border-radius: 50%; 
  	background: #fff;
}
.pagination-nested{
  bottom: auto;
  top: 10px;
}
.pagination-nested .swiper-pagination-switch {
  display: block;
  margin-right: 0;
  margin-bottom: 5px;
}

.content .mask .btn-groups{
	margin: 0 auto;
	text-align: center;
}
.content .mask .btn-groups .btn-submit{
	display: inline-block;
	width: 160px;
	height: 40px;
	margin-top: 20px;
	padding: 0;
	margin-right: 22px;
	color: #fff;
	border-radius: 3px;
	background-color: #97c561;
}


body{
	position: relative;
	height: 1080px;
}
.footer-bg{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 316px;
	background: url(../images/black-bg.png) no-repeat;
}
.footer-bg .box{
	position: relative;
	height: 100%;
}
.footer-bg .box .sewing-up-l{
	position: absolute;
	top: -26px;
	left: -120px;
	width: 120px;
	height: 52px;
	background-image: url(../images/sewing.png);
}
.footer-bg .box .sewing-up-r{
	position: absolute;
	top: -26px;
	right: -120px;
	width: 120px;
	height: 52px;
	background-image: url(../images/sewing.png);
}
.footer-bg .box .info{
	width: 820px;
	height: 100%;
	margin: 0 auto;
	padding-top: 90px;
	border:1px solid red;
}
.footer-bg .box .info .role-data{
	width: 444px;
	height: 186px;
	border:1px solid red;
}