.header{
	position: relative;
	width: 100%;
	height: 70px;
	color:#fff;
	background-image: url(../images/topnav.png);
	background-size: 100% 100%;
	font-size: 18px;
}
.header .box{
	position: relative;
}
.header .logo{
	width: 160px;
	height: 70px;
	margin: 0 auto;
}
.header .logo-l{
	position: absolute;
	top: 20px;
	left: 0;
	height: 30px;
	padding: 0 16px;
	line-height: 30px;
	text-align: center;
	background-color: #3f4143;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.2),
				inset 0 -1px 0 rgba(255,255,255,.2);
}
.header .logo-r{
	position: absolute;
	top: 0;
	right: 0;
	line-height: 70px;
}
.header .arrow{
	vertical-align: -20px;
}

.banner{
	width: 100%;
	height: 640px;
	background: url(../images/login-bg.jpg) no-repeat;
	background-size: 100% 100%;
}
.banner .box{
	position: relative;
	height: 100%;
}
.banner .box .content-l{
	position: relative;
	width: 700px;
	height: 100%;
	padding: 50px 50px 0 0; 
	border-right: 1px solid #fff;
}

.banner .box .content-l .sewing-valign{
	position: absolute;
	width: 120px;
	height: 52px;
	top: 232px;
	right: -60px;
	background-image: url(../images/sewing.png);
	transform:rotate(90deg);
}

.banner .box .content-l .mask{
	position: relative;
	width: 650px;
	height: 500px;
	padding: 42px 20px 0 20px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.4);
}
.banner .box .content-l .mask .wrapper-line{
	width: 610px;
	height: 420px;
	padding: 10px;
	border:1px solid #a3cd64;
}
.banner .box .content-l .mask .swiper-container{
	width: 590px;
	height: 400px;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper{
	background-color: #fff;
	overflow: hidden;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide{
	width:590px;
	height:400px;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-t{
	width: 590px;
	height: 50px;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c{
	width: 590px;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .item-t{
	line-height: 50px;
	text-align: center;
	border-right: 1px solid #e5e5e5;
	background-color: #a3cd64;
	color: #fff;
	font-size: 14px;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .col1,
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .col2{
	width: 96px;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .col3{
	width: 176px;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .col4{
	position: relative;
	width: 222px;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c{
	font-size: 14px;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .permission-list{
	position: absolute;
	top: 72px;
	left: -80px;
	width: 290px;
	height: 90px;
	padding: 10px 0 0 4px;
	line-height: normal;
	border:1px solid #9ac762;
	background-color: #fff;
	z-index: 1;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .permission-list .permission-item{
	margin-bottom: 12px;
	font-size: 12px;
	text-align: left;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .permission-list .permission-item input{
	vertical-align: -2px;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .permission-list .permission-item .permission-item-l,
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .permission-list .permission-item .permission-item-m,
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .permission-list .permission-item .permission-item-r{
	display: inline-block;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .permission-list .permission-item .permission-item-m{
	margin: 0 4px;
}

.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .permission-list .permission-item:before{
	position: absolute;
	top: -8px;
	/* left: 39px; */
	left: 230px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 9px 8px 9px;
	border-color: transparent transparent #9ac762 transparent;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .permission-list .permission-item:after{
	position: absolute;
	top: -7px;
	/* left: 39px; */
	left: 230px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 9px 8px 9px;
	border-color: transparent transparent #fff transparent;
}

/* 多行文本垂直居中 (外层不能浮动 内层设置为inline-block)*/
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .item-c .col1,
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .item-c .col2,
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .item-c .col3,
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .item-c .col4{
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	height: 88px;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .item-c .col3 .col3-c{
	display: inline-block;
	vertical-align: middle;
}

.banner .box .content-l .mask .swiper-container .swiper-wrapper .swiper-slide .list-c .item-c .col4 .select-permission{
	display: inline-block;
	width: 136px;
	height: 30px;
	margin: 0 auto;
	line-height: 26px;
	border:1px solid #9ac762;
	border-radius: 5px;
	background: url(../images/selectDownGreen.png) no-repeat;
	background-position: 110px center;
}

.banner .box .content-l .btn-submit{
	display: block;
	width: 100px;
	height: 30px;
	margin: 0 auto;
	margin-top: 14px;
	border-radius: 5px;
	background: url(../images/btn-submit.png) no-repeat;
	background-size: cover;
	color: #fff;
}

/*自定义分页器*/
.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -18px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #afafaf;
  margin-right: 12px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #d8573f;
}
.pagination-nested{
  bottom: auto;
  top: 10px;
}
.pagination-nested .swiper-pagination-switch {
  display: block;
  margin-right: 0;
  margin-bottom: 5px;
}


.banner .box .content-r{
	width: 250px;
	padding-top: 50px;
}
.banner .box .content-r .announcement{
	position: relative;
	width: 250px;
	height:200px;
	padding-top: 20px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.4);
	color: #fff;
}
.banner .box .content-r .announcement .title{
	text-align: center;
	font-size: 24px;
}
.banner .box .content-r .announcement .announcement-list{
	width: 168px;
	padding-left: 20px;
	margin: 0 auto;
	margin-top: 24px;
}
.banner .box .content-r .announcement .announcement-list li{
	margin-bottom: 10px;
	font-size: 12px;
}

.banner .box .content-r .announcement .icons .icon-l{
	position: absolute;
	width: 28px;
	height: 32px;
	top: 104px;
	left: 10px;
	background: url(../images/arrow-green-l.png) no-repeat;
}
.banner .box .content-r .announcement .icons{
	padding: 0 20px;
}
.banner .box .content-r .announcement .icons .icon-r{
	position: absolute;
	width: 28px;
	height: 32px;
	top: 104px;
	right: 10px;
	background: url(../images/game-guide-arrow-btn.png) no-repeat;
}

.banner .box .content-r .system-news .title{
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 24px;
	color: #fff;
}
.banner .box .content-r .system-news .title img{
	vertical-align: -8px;
}
.banner .box .content-r .system-news .news-list{
	width: 250px;
	height: 234px;
	padding: 40px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.4);
}
.banner .box .content-r .system-news .news-list .news-item{
	height: 40px;
	line-height: 40px;
	color: #fff;
}
.banner .box .content-r .system-news .news-list .news-item .icon-news{
	display: inline-block;
	width: 26px;
	height: 18px;
	background: url(../images/icon-news.png) no-repeat;
	vertical-align: -2px;
}

.banner .box .sewing-down-l{
	position: absolute;
	bottom: -26px;
	left: 0;
	width: 120px;
	height: 52px;
	background-image: url(../images/sewing.png);
}
.banner .box .sewing-down-r{
	position: absolute;
	bottom: -26px;
	right: 0;
	width: 120px;
	height: 52px;
	background-image: url(../images/sewing.png);
}

.banner .box .next-step{
	position: absolute;
	left: 50%;
	bottom: -44px;
	/* margin-left: -130px;
	width: 260px;
	height: 60px; */
	width: 270px;
	height: 70px;
	margin-left: -135px;
	background: url(../images/next-step-btn.png) no-repeat;
	color: #fff;
	font-size: 20px;
	border:none;
	outline: none;
	border-radius: 5px;
}


.footer-bg{
	width: 100%;
	height: 100px;
	background: #000;
}