body{
	background: url(../images/login-bg.jpg) no-repeat;
	background-size: 100%;
}
.login{
	width: 600px;
	height: 700px;
	margin: 94px auto;
	padding: 84px 90px;
	background-color: rgba(0,0,0,.6);
}
.login .logo{
	width: 420px;
	height: 172px;
	padding-top: 32px;
	text-align: center;
	background-color: #575c5d;
	border-radius: 12px;
	border: 2px solid #484a47;
	border-top: 2px solid #6e7273;
}
.login .username{
	width: 420px;
	height: 64px;
	margin-top: 30px;
	padding:0 0 0 72px;
	border-radius: 5px;
	background: url(../images/login-input.png) no-repeat;
	outline: none;
	border: none;
	overflow: hidden;
}
.login .psw{
	width: 420px;
	height: 64px;
	margin-top: 20px;
	padding:0 0 0 72px;
	border-radius: 5px;
	background: url(../images/login-input.png) no-repeat;
	outline: none;
	border: none;
	overflow: hidden;
}
.login .sub{
	width: 420px;
	height: 60px;
	margin-top: 40px;
	padding: 0;
	border-radius: 10px;
	background: url(../images/login-sub.png) no-repeat;
	outline: none;
	border: none;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}