.banner{
	width: 100%;
	height: 640px;
	background: url(../images/login-bg.jpg) no-repeat;
}
.banner .box{
	position: relative;
	height: 100%;
}
.banner .box .content-l{
	position: relative;
	width: 700px;
	height: 100%;
	padding: 50px 50px 0 0; 
	border-right: 1px solid #fff;
}
.banner .box .content-l .mask{
	width: 650px;
	height: 478px;
	padding: 30px 46px 0 36px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.4);
}
.banner .box .content-l .mask .title{
	width: 250px;
	height: 40px;
	line-height: 40px;
	background-image: url(../images/title-bg2.png);
	font-size: 20px;
	text-indent: 88px;
}

.banner .box .content-l .mask .wrapper{
	margin-top: 20px;
}
.banner .box .content-l .mask .wrapper .wrapper-l{
	padding: 10px;
	border:1px solid #a3cd64;
}
.banner .box .content-l .mask .wrapper .wrapper-l .content{
	width: 230px;
	height: 320px;
	padding: 30px 0 0 20px;
	background-color: #fff;
}
.banner .box .content-l .mask .wrapper .wrapper-l .content .announcement-list .announcement-item{
	margin-bottom: 30px;
}
.banner .box .content-l .mask .wrapper .wrapper-l .content .announcement-list .announcement-item .announcement-img{
	width: 70px;
	height: 90px;
}
.banner .box .content-l .mask .wrapper .wrapper-l .content .announcement-list .announcement-item .announcement-img img{
	width: 100%;
	height: 100%;
}
.banner .box .content-l .mask .wrapper .wrapper-l .content .announcement-list .announcement-item .announcement-txt{
	width: 140px;
	height: 90px;
	padding: 10px 18px;
	font-size: 12px;
}
.banner .box .content-l .mask .wrapper .wrapper-l .content .announcement-list .announcement-item .announcement-txt li{
	height: 24px;
	line-height: 24px;
}

.banner .box .content-l .mask .wrapper .wrapper-r{
	width: 316px;
	height: 340px;
	padding: 56px 0 0 30px;
}
.banner .box .content-l .mask .wrapper .wrapper-r .wrapper-r-list li{
	margin-bottom: 20px;
}
.banner .box .content-l .mask .wrapper .wrapper-r .wrapper-r-list li .name{
	display: inline-block;
	height: 40px;
	padding-right: 6px;
	color: #fff;
}
.banner .box .content-l .mask .wrapper .wrapper-r .wrapper-r-list li input{
	width: 200px;
	height: 40px;
	padding: 10px;
	border-radius: 5px;
	background-color: transparent;
	border:1px solid #fff;
	color: #fff;
	outline: none;
}
.banner .box .content-l .mask .wrapper .wrapper-r .wrapper-r-list li select{
	width: 200px;
	height: 40px;
	padding: 10px;
	border-radius: 5px;
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
	background-color: transparent;
	background: url(../images/selectDown.png) no-repeat scroll right center;
	background-position: 174px center;
	color: #fff;
	border:1px solid #fff;
	outline: none;
}
.banner .box .content-l .mask .wrapper .wrapper-r .wrapper-r-list li select option{
	background-color: #6f7871;
	padding: 0 10px;
}
.banner .box .content-l .mask .wrapper .wrapper-r .wrapper-r-list li select option[selected]{
	font-weight: bold;
}
.banner .box .content-l .mask .wrapper .wrapper-r .wrapper-r-list li .btn-submit{
	display: block;
	width: 182px;
	height: 42px;
	margin: 0 auto;
	margin-top: 10px;
	margin-left: 102px;
	border-radius: 5px;
	color: #fff;
	background: url(../images/btn-submit.png) no-repeat;
}
.banner .box .content-l .mask .wrapper .wrapper-r .wrapper-r-list li .remark{
	width: 100%;
	height: 20px;
	color: #fff;
	font-size: 12px;
}

.banner .box .content-l .sewing-valign{
	position: absolute;
	width: 120px;
	height: 52px;
	top: 232px;
	right: -60px;
	background-image: url(../images/sewing.png);
	transform:rotate(90deg);
}

.banner .box .content-r{
	width: 250px;
	padding-top: 50px;
}
.banner .box .content-r .announcement{
	position: relative;
	width: 250px;
	height:200px;
	padding-top: 20px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.4);
	color: #fff;
}
.banner .box .content-r .announcement .title{
	text-align: center;
	font-size: 24px;
}
.banner .box .content-r .announcement .announcement-list{
	width: 168px;
	padding-left: 20px;
	margin: 0 auto;
	margin-top: 24px;
}
.banner .box .content-r .announcement .announcement-list li{
	margin-bottom: 10px;
	font-size: 12px;
}

.banner .box .content-r .announcement .icons .icon-l{
	position: absolute;
	width: 28px;
	height: 32px;
	top: 104px;
	left: 10px;
	background: url(../images/arrow-green-l.png) no-repeat;
}
.banner .box .content-r .announcement .icons{
	padding: 0 20px;
}
.banner .box .content-r .announcement .icons .icon-r{
	position: absolute;
	width: 28px;
	height: 32px;
	top: 104px;
	right: 10px;
	background: url(../images/game-guide-arrow-btn.png) no-repeat;
}

.banner .box .content-r .system-news .title{
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 24px;
	color: #fff;
}
.banner .box .content-r .system-news .title img{
	vertical-align: -8px;
}
.banner .box .content-r .system-news .news-list{
	width: 250px;
	height: 234px;
	padding: 40px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.4);
}
.banner .box .content-r .system-news .news-list .news-item{
	height: 40px;
	line-height: 40px;
	color: #fff;
}
.banner .box .content-r .system-news .news-list .news-item .icon-news{
	display: inline-block;
	width: 26px;
	height: 18px;
	background: url(../images/icon-news.png) no-repeat;
	vertical-align: -2px;
}

.banner .box .sewing-down-l{
	position: absolute;
	bottom: -26px;
	left: 0;
	width: 120px;
	height: 52px;
	background-image: url(../images/sewing.png);
}
.banner .box .sewing-down-r{
	position: absolute;
	bottom: -26px;
	right: 0;
	width: 120px;
	height: 52px;
	background-image: url(../images/sewing.png);
}

.banner .box .next-step{
	position: absolute;
	left: 50%;
	bottom: -44px;
	/* margin-left: -130px;
	width: 260px;
	height: 60px; */
	width: 270px;
	height: 70px;
	margin-left: -135px;
	background: url(../images/next-step-btn.png) no-repeat;
	color: #fff;
	font-size: 20px;
	border:none;
	outline: none;
	border-radius: 5px;
}


.footer-bg{
	width: 100%;
	height: 100px;
	background: #000;
}